certifi==2022.9.24
chardet==4.0.0
confuse==1.7.0
idna==3.3
oauthlib==3.2.1
pushbullet.py==0.12.0
python-dateutil==2.8.2
python-magic==0.4.25
pyyaml==6.0
requests-oauthlib==1.3.1
requests==2.27.1
six==1.16.0
twitterapi==2.7.12
urllib3==1.26.12
websocket-client==1.3.2
